/*header section */
.header-section {
  background-color: #A6D9F5;
  padding: 1px;
  padding-left: 1rem;
  text-align: left;
  font-size: 15px;
  font-family: 'Fredoka One';

}
/* Global styles */

body {
  font-family: 'Fredoka One', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  /* background: white; */
  background: linear-gradient(to bottom right, #FFFFFF, #BBF0F8);
  scroll-behavior: smooth;
}
  
/* Header styles */
header {
  background-color: #30A1F4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

.my-website-heading {
  text-decoration: none;
  color: #fff;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Main content styles */
main {
  padding: 20px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

section h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

section p {
  margin: 0;
}

button {
  margin: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.head-button {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #FADE4D;
  color: #434D66;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Fredoka One', sans-serif;
}

.head-button-diff {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #FA5959;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Fredoka One', sans-serif;
}

.section1 {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 5fr 7fr;
  grid-template-rows: 3fr 9fr;
  grid-template-areas: 
    "welcome watch-vid-btn" 
    "welcome-p watch-vid-container";
}

.welcome {
  grid-area: welcome;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-p {
  grid-area: welcome-p;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.watch-vid-btn {
  grid-area: watch-vid-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-vid-container {
  grid-area: watch-vid-container;
  display: flex;
  justify-content: center;
  align-items: center;
}


.watch-video {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #EB0E0E;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}

.watch-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  width: 70%;
  height: 90%;
  background-color: none;
}

.snimchica {
  width: 65%;
  height: auto;
}

.snimchica_about {
  border-radius: 0px;
  padding: 40px 150px;
  background-color: #fff;
  color: white;
  position: absolute;
  right: 160px;
  bottom: 1200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}

.audio {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Search Bar Styles */
.search-container {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}

.search-container form {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  padding: 8px;
  border: none;
  font-size: 20px;
  background: #6CBAF2;
  font-family: 'Fredoka One', sans-serif;
}


.section2 {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: 5.5fr 1fr 5.5fr;
  grid-template-rows: repeat(4, 3fr);
  grid-row-gap: 1rem;
  grid-template-areas: 
    "share-knowledge-p share-knowledge-p share-knowledge-btn" 
    "discover-results-btn discover-results-p discover-results-p" 
    "explore-materials-p explore-materials-p explore-materials-btn" 
    "unlock-adventures-btn unlock-adventures-p unlock-adventures-p";
}

.section2-heading {
  text-align: center;
}
  
.share-knowledge-p { 
  grid-area: share-knowledge-p; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-knowledge-btn { 
  grid-area: share-knowledge-btn;
    display: flex;
  justify-content: center;
  align-items: center;
}
.discover-results-btn { 
  grid-area: discover-results-btn;
    display: flex;
  justify-content: center;
  align-items: center;
}
.discover-results-p { 
  grid-area: discover-results-p;
    display: flex;
  justify-content: center;
  align-items: center;  
}
.explore-materials-p { 
  grid-area: explore-materials-p;
    display: flex;
  justify-content: center;
  align-items: center; 
}
.explore-materials-btn { 
  grid-area: explore-materials-btn;
    display: flex;
  justify-content: center;
  align-items: center; 
}
.unlock-adventures-btn { 
  grid-area: unlock-adventures-btn;
    display: flex;
  justify-content: center;
  align-items: center; 
}
.unlock-adventures-p { 
  grid-area: unlock-adventures-p;
    display: flex;
  justify-content: center;
  align-items: center; 
}


/* Button Section */
.menu-button {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #EB0E0E;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}
.text-2 {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}
.menu-button-1 {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #EB0E0E;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}
.menu-button-2 {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #EB0E0E;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}
.text-3 {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: none;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}
.menu-button-3 {
  border-radius: 40px;
  padding: 10px 20px;
  background-color: #EB0E0E;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-family: 'Fredoka One', sans-serif;
}
h4 {
  text-align: center;
  font-size: 24px;
}

.p-tag-centered {
  text-align: center;
}

.section4 {
  margin-bottom: 2rem;
}

/* Footer styles */
footer {
  background-color:#A6D9F5;
  color: black;
  padding: 10px 20px;
  text-align: center;
}

footer img {
  margin-top: 1rem;
}


/* Style the dropdown button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 1.9rem;
  font-size: 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 0 20px;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Show the dropdown content when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

@media (min-width: 1073px) {
  .nav-1 {
    display: none;
  }
}

@media (max-width: 1072px) {
  .nav-2 {
    display: none;
  }
}

@media (max-width: 560px) {
  .search-container form {
    display: none;
  }

  .section1 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "welcome"
    "watch-vid-btn"
    "welcome-p"
    "watch-vid-container";
  }

  .section2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    grid-template-areas:
    "share-knowledge-btn"
    "share-knowledge-p"
    "discover-results-btn"
    "discover-results-p"
    "explore-materials-btn"
    "explore-materials-p"
    "unlock-adventures-btn"
    "unlock-adventures-p";
  }
}