body {
  background-color: #fff;
  font-family: Arial, sans-serif;
}

#myChart {
  display: block;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffd700;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #f0c808;
  color: #fff;
  transform: scale(1.1);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  display: block;
  background-color: #6bb5ff;
  color: white;
  font-size: 24px;
  padding: 20px 30px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}


.button:hover {
  background-color: #4d8fe7;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.button {
  text-decoration: none;
}
  