body {
    background-color: #fff;
    font-family: Arial, sans-serif;
  }
  
  #myChart {
    display: block;
    margin: auto;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffd700;
    color: #000;
    text-decoration: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #f0c808;
    color: #fff;
    transform: scale(1.1);
  }
  