.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #ffffff;
    margin: 10% auto;
    /* padding: 20px; */
    border: 1px solid #888;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 11px 0 rgb(0 0 0 / 20%);
}

.modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
}


.button-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 6fr 6fr;
    gap: 2px;
    grid-template-areas: 
    "button1 button2"
    "button3 button4";
}

.button1 {
    grid-area: button1;
    cursor: pointer;
}

.button2 {
    grid-area: button2;
    cursor: pointer;
}

.button3 {
    grid-area: button3;
    cursor: pointer;
}

.button4 {
    grid-area: button4;
    cursor: pointer;
}

.button-section {
    width: 100%;
    height: 100%;
}

.button-section button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    font-family: 'Fredoka One', sans-serif;
}

#humidity-button {
    box-shadow: 2px 2px 0px 0px #7f7f7f;
    border-top-left-radius: 1rem;
    font-size: 1.3rem;
}

#co2-button {
    /* add a shadow */
    box-shadow: 2px 2px 0px 0px #7f7f7f;
    border-top-right-radius: 1rem;
    font-size: 1.3rem;
}

#light-button {
    /* add a shadow */
    box-shadow: 2px 2px 0px 0px #7f7f7f;
    border-bottom-left-radius: 1rem;
    font-size: 1.3rem;
}

#temperature-button {
    /* add a shadow */
    box-shadow: 2px 2px 0px 0px #7f7f7f;
    border-bottom-right-radius: 1rem;
    font-size: 1.3rem;
}
